<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PatientApp.Properties.Settings>
            <setting name="PatientApp_localhost_WebService1" serializeAs="String">
                <value>http://localhost:53337/WebService1.asmx</value>
            </setting>
            <setting name="PatientApp_localhost1_WebService" serializeAs="String">
                <value>http://localhost:51232/WebService.asmx</value>
            </setting>
        </PatientApp.Properties.Settings>
    </applicationSettings>
</configuration>